code/timegan/data_generation/generate_synth_data_bck.py
code/data_process/__pycache__/my_data_pre_intdash.cpython-39.pyc
code/data_process/__pycache__/my_data_pre_intdash.cpython-39.pyc
code/timegan/evaluation/analyze_data_models_bck.ipynb
code/timegan/train/timegan32_bck.py
code/timegan/train/timegan64_bck.py
results/plots/models3_50_3600_norm/box_plot_all_features/32_best_model_sum.pdf
results/plots/models3_50_3600_norm/box_plot_all_features/32_worst_model_sum.pdf
results/plots/models3_50_3600_norm/box_plot_all_features/64_best_model_sum.pdf
results/plots/models3_50_3600_norm/box_plot_all_features/64_worst_model_sum.pdf
results/plots/models3_50_3600_norm/cdf_all_features/32_best_worst_modelsum.pdf
results/plots/models3_50_3600_norm/cdf_all_features/64_best_worst_modelsum.pdf
results/plots/models3_50_3600_norm/ema_all_features/32_best_models_sum.pdf
results/plots/models3_50_3600_norm/ema_all_features/64_best_models_sum.pdf
results/plots/models3_50_3600_norm/violin_all_features/32_best_models_sum.pdf
results/plots/models3_50_3600_norm/violin_all_features/32_worst_models_sum.pdf
results/plots/models3_50_3600_norm/violin_all_features/64_best_models_sum.pdf
results/plots/models3_50_3600_norm/violin_all_features/64_worst_models_sum.pdf
code/timegan/train/time32.out
code/timegan/train/time64.out
code/timegan/evaluation/__pycache__/create_plots.cpython-39.pyc
code/timegan/saved_models/so32_seqlen_50_hidim_20_batch_100.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_20_batch_128.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_20_batch_156.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_40_batch_100.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_40_batch_128.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_40_batch_156.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_60_batch_100.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_60_batch_128.pkl
code/timegan/saved_models/so32_seqlen_50_hidim_60_batch_156.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_156.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_40_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_40_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_40_batch_156.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_60_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_60_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_60_batch_156.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_156.pkl
.gitignore
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_156.pkl
code/timegan/saved_objects/metrics3_50_3600_norm.pkl
code/timegan/saved_objects/models3_50_3600_norm.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_156.pkl
code/timegan/saved_objects/metrics3_50_3600_norm.pkl
code/timegan/saved_objects/models3_50_3600_norm.pkl
code/timegan/__pycache__/params.cpython-39.pyc
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/Buffer.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/CalcBitrate.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/deq_qdepth1.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/deq_qdepth2.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/deq_qdepth3.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/deq_timedelta1.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/deq_timedelta2.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/deq_timedelta3.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/enq_qdepth1.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/enq_qdepth2.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/enq_qdepth3.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/FPS.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin32/ReportedBitrate.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/Buffer.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/CalcBitrate.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/deq_qdepth1.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/deq_qdepth2.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/deq_qdepth3.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/deq_timedelta1.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/deq_timedelta2.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/deq_timedelta3.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/enq_qdepth1.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/enq_qdepth2.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/enq_qdepth3.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/FPS.pdf
results/plots/models3_50_3600_norm/best_worst_model_sum/violin64/ReportedBitrate.pdf
results/plots/models3_50_3600_norm.pkl/box_plot_all_features/32_best_model_sum.pdf
results/plots/models3_50_3600_norm.pkl/box_plot_all_features/32_worst_model_sum.pdf
results/plots/models3_50_3600_norm.pkl/box_plot_all_features/64_best_model_sum.pdf
results/plots/models3_50_3600_norm.pkl/box_plot_all_features/64_worst_model_sum.pdf
results/plots/models3_50_3600_norm.pkl/cdf_all_features/32_best_worst_modelsum.pdf
results/plots/models3_50_3600_norm.pkl/cdf_all_features/64_best_worst_modelsum.pdf
results/plots/models3_50_3600_norm.pkl/ema_all_features/32_best_models_sum.pdf
results/plots/models3_50_3600_norm.pkl/ema_all_features/64_best_models_sum.pdf
results/plots/models3_50_3600_norm.pkl/violin_all_features/32_best_models_sum.pdf
results/plots/models3_50_3600_norm.pkl/violin_all_features/32_worst_models_sum.pdf
results/plots/models3_50_3600_norm.pkl/violin_all_features/64_best_models_sum.pdf
results/plots/models3_50_3600_norm.pkl/violin_all_features/64_worst_models_sum.pdf
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_100.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_128.pkl
code/timegan/saved_models/so64_seqlen_50_hidim_20_batch_156.pkl
code/timegan/saved_objects/metrics3_50_3600_norm.pkl
code/timegan/saved_objects/metrics9_50_3600_norm.pkl
code/timegan/saved_objects/models3_50_3600_norm.pkl
code/timegan/saved_objects/models9_50_3600_norm.pkl
code/timegan/saved_objects/real9_50_3600_norm.pkl
code/timegan/data_generation/generation.out
code/data_process/__pycache__/preprocess_data.cpython-39.pyc
